<footer id="footer" class="dark-footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <a href="{{ site.url }}">
                            <figure class="footer-logo mb-15">
                                <img alt="Patricio Cabrera Logo" src="{{site.baseurl}}/assets/images/patriciocabrera-logo.png">
                            </figure>
                        </a>
                        <div class="textwidget">
                            <p>
                                <a href="mailto:{{ site.email | encode_email }}">
                                    Contact Me
                                </a>
                                <br>
                                <a href="tel:{{ site.phone }}">
                                    {{ site.phone }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h5>Directory</h5>
                        <div class="menu-footer">
                            <ul>
                                {% for item in site.data.settings.menu %}
                                <li class="">
                                    <a href="{{ site.baseurl }}/{{ item.url }}">{{ item.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <!-- <h5>Recent Posts</h5> -->
                        <div class="menu-footer">
                            <ul>
                                <!-- <li>
                                    <a href="/intranetpost/">Run a Intranet Design</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="social-list">
                        {% for item in site.data.settings.social %}
                        <li class="{{ item.class }}">
                            <a href="{{ item.link }}" target="_blank"><i class="{{ item.iclass}}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="copy-text">
                        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{{site.baseurl}}/assets/js/jquery.js" type="text/javascript">
</script>
<script src="{{site.baseurl}}/assets/js/bundle.js" type="text/javascript">
</script>
<script src="{{site.baseurl}}/assets/js/SmoothScroll.js" type="text/javascript">
</script>
<script src="{{site.baseurl}}/assets/js/jquery.mb.YTPlayer.js" type="text/javascript">
</script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNGOsBBZo9vf0Tw4w6aJiilSTFVfQ5GPI" type="text/javascript">
</script> -->
<script src="{{site.baseurl}}/assets/js/main.js" type="text/javascript">
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127224975-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-127224975-1');
</script>