<head>
	<title>{{ site.title }}</title>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<link href="{{site.baseurl}}/assets/images/favicon.png" rel="shortcut icon">
	<link href="{{site.baseurl}}/assets/main.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700" rel="stylesheet" type="text/css">
	<style>
		* {
			font-family: "Source Sans Pro", "Poppins", "Kaushan Script|Lora|Playfair Display", Arial, Helvetica, sans-serif;
		}
		.bold {
			font-weight: 500;
			color: #333;
		}
		.img-round {
			width: 40px;
			border-radius: 50%;
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
			text-align: center;
		}
		.hamburger {
			margin-right: 16px;
			margin-top: 40px;
		}
		.mt-md {
			margin-top: 40px;
		}
	</style>
</head>