/*
    01
    Global
*/

body {
    background: #F9F9F9;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    color: #434A5E;
    font-weight: 700;
}

p {
    line-height: 1.75em;
    /* color: #434A5E; */
    font-size: 1.15em;
}

svg {
    height: auto;
}

#filters.dark-skin li.active {
    color: #F9F9F9;
}

/* Typography */
.pc-heading-3 {
    text-align: center;
}

.banner-img {
    max-width: 140%;
}

.colored-bg {
    background-color: #00c3da !important;
}

.geometric-bg {
    background-image: url('/patriciocabrera/assets/images/geometric-pattern-W.png');
    background-repeat: repeat;
}

.pi-update strong {
    color: #444444 !important;
}

.pi-update ul li {
    font-size: 1.3em !important;
    display: inline-block;
    margin-right: 1.3em;
}

.pi-update li .active {
    border-color: #f9f9f9;
    color: #f9f9f9 !important;
}

/* Utility */

.nb-top {
    border-top: 0px;
}

@media (max-width: 991px) {
    .banner-img {
        max-width: 90%;
    }

    .pi-update ul li {
        /* display: block; */
    }
}